body {background-image: url("https://cdn.shopify.com/s/files/1/0375/7805/products/Design-Letters-Buchstaben-Und-Zahlen-Fur-Pinnwande-Schwarz-Gross-Notizbrett-Design-Letters-20203102BLACK-DES-5710498763039-inwohn_800x.jpg?v=1643002183");
    background-repeat: no-repeat;
        background-size: cover;
    }
    
    #title {
        font-size: 250%;
        text-align: center;
        font-family: 'DM serif display', sans-serif;
        color: black;
    }
    
    .card_wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
        margin: auto;
        width: 70%;
    }
    
    .card {
        background-color: #1a1515;
        flex: 0 0 30%;
        width: 100%;
        height: 100%;
        position: relative;
        transition: all 1s linear;
        transform-style: preserve-3d;
        border-radius: 30px;
    }
    
    p {
        font-size: 30px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        color: white;
    }
    
    .front, .back {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 30px;
    }
    
    .front {
        z-index: 1;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    
    }
    
    .back {
        z-index: 1;
    
        background-color:  #d6da4c;
        backface-visibility: hidden;
    
    }
    .container:hover .card  {
       transform: rotateY(180deg);
    }
    .container {
        width: 200px;
        height: 200px;
        perspective: 100px;
        margin: 5%;
    }